@import "./color.scss";

* {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;

  font-size: 14px;

  padding: 0;
  margin: 0;
}

body {
  background-color: $bg;
}

input[type="email"], 
input[type="password"],
input[type="text"] {
  border: 1px solid $primaryLight;
  border-radius: 4px;
  line-height: 2.5rem;

  padding: 0px 2.5rem 0px 0.5rem;

  &:focus {
    outline-color: $primaryLight;
  }
} 

button {
  background-color: $primary;
  color: white;

  font-size: 1rem;
  line-height: 4.25rem;

  border-radius: 8px;
  border: none;

  transition: 0.2s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledBg;
    color: $disabledColor;
    cursor: not-allowed;

    &:hover {
      opacity: 1;
    }
  }
}
