@import "./color.scss";

* {
  font-family: 'Roboto', sans-serif;

  box-sizing: border-box;

  font-size: 14px;

  padding: 0;
  margin: 0;
}

body {
  background-color: $bg;
}

input[type="email"], 
input[type="password"],
input[type="text"] {
  border: none;
  outline: none;
} 

button {
  background-color: $primary;
  color: white;

  padding: 0 1rem;
  font-size: 1rem;
  line-height: 3rem;

  border-radius: 8px;
  border: none;

  transition: 0.2s all ease-in-out;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    background-color: $disabledBg;
    color: $disabledColor;
    cursor: not-allowed;

    &:hover {
      opacity: 1;
    }
  }
}
